{{ with .Site.Params.Email }}
<a href="mailto:{{.}}"><img class="icon-social" src="/img/email.svg" alt="Email Me!"/></a>
{{ end }}
{{ with .Site.Params.Github }}
<a href="{{.}}"><img class="icon-social" src="/img/github.svg" alt="Github"/></a>
{{ end }}
{{ with .Site.Params.Twitter }}
<a href="{{.}}"><img class="icon-social" src="/img/twitter.svg" alt="Twitter"/></a>
{{ end }}
{{ with .OutputFormats.Get "RSS" }}
<a href="{{ .Permalink }}" target="_blank"><img class="icon-social" src="/img/feed.svg" alt="Feed"></a>
{{ end }}
{{ with .Site.Params.Twitch}}
<a href="{{.}}"><img class="icon-social" src="/img/twitch.svg" alt="Twitch"/></a>
{{ end }}
